@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Convergr</h1>
    <p class="lead">Convergr is the world's leading platform for self created self learning!</p>
    <hr />
    <p><h3>Start by choosing to browse by University or Categories</h3></p>
    <p><a class="btn btn-default btn-lg btn-block" href="@Url.Action("Index","Universities")">University</a></p>
    <p><a class="btn btn-default btn-lg btn-block" href="#">Category</a></p>


</div>

